img {
	height: 200px;
	width: 30%;
};


/* Align odd paragraphs to yellow */
.cards:nth-of-type(2n+1) { 
	background-color: lightyellow; 
}

/* Align even paragraphs to blue */
.cards:nth-of-type(2n) {
	background-color: lightblue;
}

.cards {
	border: solid black 2px;
	height: 300px;
	width: 50%;
}

#input:focus {
	background-color: yellow;
}

.selectedCard {
	border: dotted black 3px;
}

.bio {

}



